# Project dependencies
# Add additional packages here with specific versions

Django==3.2.4
gunicorn==19.6.0
django-import-export
django-simpleui
Pillow==7.0
docutils
markdown~=3.3.7
Pygments
mysqlclient==2.0.3
